.breadcrumbs__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  position: relative;
  list-style: none;
  &::after {
    font-size: 12px;
    margin: 0 3px 0 4px;
    content: '/';
    color: #969696;
  }
  &:last-child {
    .breadcrumbs__link {
      pointer-events: none;
      color: $dark;
    }
    &::after {
      display: none;
    }
  }
}

.breadcrumbs__link {
  font-size: 11px;
  white-space: nowrap;
  text-decoration: none;
  color: #969696;
}
