.burger {
  position: fixed;
  top: 7px;
  right: 13px;
  display: none;
  width: 33px;
  height: 33px;
  cursor: pointer;

  @include max(860) {
    display: block;
  }

  &::before {
    position: absolute;
    bottom: -17px;
    left: -22px;
    width: 100px;
    height: 100px;
    content: '';
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: -16px 16px 14px -23px rgba(117,58,136,1);
  }
}

.burger-brick {
  position: relative;
  height: 3px;
  margin-top: 6px;
  transition: .3s ease-out;
  background: $highlight;
}

.open {
  .burger-brick:first-child {
    margin-top: 12px;
    transform: rotate(405deg);
  }

  .burger-brick:last-child {
    margin-top: -12px;
    transform: rotate(-405deg);
  }

  .middle {
    transform: scale(0);
  }
}
