.burger {
  position: relative;
  z-index: 11;
  display: none;
  width: 33px;
  height: 33px;
  margin-top: 10px;
  margin-right: 15px;
  cursor: pointer;
  @include max(760) {
    display: block;
  }

  @include max(500) {
    position: absolute;
    top: 0;
    right: 0;
  }

  @include max(425) {
    margin-top: 6px;
    margin-right: 10px;
  }
}

.burger-brick {
  position: relative;
  height: 3px;
  margin-top: 6px;
  transition: .3s ease-out;
  background: $text;
}

.active {
  .burger-brick:first-child {
    margin-top: 12px;
    transform: rotate(405deg);
  }

  .burger-brick:last-child {
    margin-top: -12px;
    transform: rotate(-405deg);
  }

  .middle {
    transform: scale(0);
  }
}
