.header__contacts {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  text-align: right;

  @include max(1200) {
    position: relative;
    margin: 15px 0 15px auto;
  }

  @include max(760) {
    margin: 5px 0 15px 0;
  }

  @include max(530) {
    position: relative;
  }

  @include max(500) {
    flex: none;
    margin: 5px 0 10px 0;
  }

  @include max(425) {
    margin: 5px 0 0 0;
  }
}

.header__phone {
  display: flex;
  text-decoration: none;
  svg {
    fill: $text;
    width: 11px;
    height: 20px;
    margin-top: 3px;
    margin-right: 8px;
    @include max(500) {
      display: none;
    }
  }
}

.header__phone-text {
  font-family: $font-bold;
  font-size: 20px;
  line-height: 26px;
  white-space: nowrap;
  color: $dark;

  @include max(500) {
    font-size: 15px;
  }
}

.header__city {
  font-family: $font-light;
  font-size: 12px;
  line-height: 30px;
  color: $dark;
}
