.header__contacts {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 0 20px;
  text-align: right;
  background-color: #ccc;
}

.header__phone {
  display: flex;
  text-decoration: none;
  svg {
    width: 11px;
    height: 20px;
    margin-top: 3px;
    margin-right: 8px;
  }
}

.header__phone-text {
  font-family: $font-bold;
  font-size: 20px;
  line-height: 26px;
  color: $dark;
}

.header__city {
  font-family: $font-light;
  font-size: 12px;
  line-height: 30px;
  color: $dark;
}
