.header__contacts {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 20px;
  text-align: right;

  @include max(1200) {
    position: relative;
    margin: 15px 0 15px auto;
  }
  @include max(760) {
    margin: 15px 0;
  }
  @include max(500) {
    margin: 0 0 10px 0;
  }
  @include max(425) {
    margin: 0;
  }
}

.header__phone {
  display: flex;
  text-decoration: none;
  svg {
    width: 11px;
    height: 20px;
    margin-top: 3px;
    margin-right: 8px;
    fill:$text;
  }
}

.header__phone-text {
  font-family: $font-bold;
  font-size: 20px;
  line-height: 26px;
  color: $dark;
}

.header__city {
  font-family: $font-light;
  font-size: 12px;
  line-height: 30px;
  color: $dark;
}
