.logo {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  margin-bottom: 35px;
  padding: 0 20px;
  background-color: #ccc;
  &:hover {
    svg {
      fill: $highlight;
    }
  }
  svg {
    fill: $dark;
    width: 180px;
    height: 33px;
    transition: fill .5s;
  }
}
