// begin company-top section
.company {
  position: relative;
  padding-top: 100px;
}

.company-top{
  .container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding-top: 120px;
  }

}
.company-top__pic {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 100%;

  @include max(1330) {
    max-width: 700px;
  }
  @include max(1020) {
    max-width: 600px;
  }
  @include max(768) {
    max-width: 450px;
  }
  @include max(600) {
    max-width: 350px;
  }

  img {
    display: block;
    height: 100%;
    margin-left: auto;

    @include max(1330) {
      width: 100%;
      max-height: 100%;
    }
  }
}

.company-top__capture {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 450px;
  min-height: 500px;

  @include max(1330) {
    min-height: 450px;
  }
  @include max(1020) {
    min-height: 350px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  li {
    font-size: 16px;
  }
}

.company-top__title {
  font-family: $font-medium;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;

  @include max(1200) {
    margin-bottom: 40px;
  }
  @include max(1020) {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}

// end company-top section
