.header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  min-height: 120px;

  @include max(1200) {
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    min-height: 0;
    margin: 0 auto;
  }

  @include max(760) {
    justify-content: space-between;
    max-height: 60px;
    background-color: #fff;
  }

  @include max(530) {
    flex-wrap: nowrap;
  }

  @include max(500) {
    justify-content: center;
  }

  @include max(425) {
    padding: 0;
  }
}
