.service-top {
  position: relative;
  &::before {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: -250px;
    width: 100%;
    max-width: 246px;
    height: 508px;
    content: '';
    background-image: url('../img/bg-service-top.png');
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: contain;

    @include max(600) {
      display: none;
    }
  }
}

.service-top__slide {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;

  @include max(1024) {
    min-height: 750px;
  }

  @include max(760) {
    background-position: 70% 50%;
  }
}

.service-top__capture {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 570px;
  padding-top: 330px;
  padding-bottom: 40px;

  @include max(1024) {
    padding-top: 250px;
  }

  p {
    color: #fff;
  }
}

.service-top__title {
  font-family: $font-medium;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 60px;
  color: #fff;

  @include max(1020) {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}