.service-tarif {
  padding-top: 115px;
  padding-bottom: 400px;
  background-image: url('../img/bg-tarif.jpg');
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-size: cover;

  @include max(1020) {
    padding-top: 30px;
    padding-bottom: 320px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.service-tarif__item--left {
  width: 40%;
  padding-right: 30px;
  padding-bottom: 60px;

  @include max(1170) {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
}

.service-tarif__title {
  font-family: $font-medium;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 60px;

  @include max(1020) {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 30px;
  }
}

.service-tarif__item--right {
  position: relative;
  width: 60%;
  max-width: 690px;
  padding: 85px 75px 75px 75px;
  text-align: center;
  border: 20px solid transparent;
  border-image: linear-gradient(0deg, #faa61a 0%, #ffcb05 100%);
  border-image-slice: 1;

  @include max(1170) {
    width: 100%;
    max-width: calc(100% - 100px);
    margin-left: auto;
  }
  @include max(1020) {
    padding: 30px;
  }
  @include max(760) {
    max-width: 100%;
  }
  @include max(576) {
    border-width: 10px;
  }
}

.service-tarif__slide {
  span {
    font-size: 25px;
    display: block;
    text-align: center;

    @include max(576) {
      font-size: 20px;
    }
  }
}

.service-tarif__slide-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 50px auto 0;

  @include max(576) {
    justify-content: center;
    flex-wrap: wrap;
  }
  .btn {
    flex: none;

    @include max(576) {
      min-width: 51%;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.service-tarif__slider-counter {
  position: absolute;
  bottom: -27px;
  left: -120px;
  display: flex;
  align-items: flex-start;

  @include max(760) {
    right: -15px;
    bottom: -115px;
    left: auto;
  }
  @include max(425) {
    right: -10px;
  }
}

.service-tarif__slider-counter--current {
  font-family: $font-extrabold;
  font-size: 70px;
  line-height: 1;
  color: $highlight;
}

.service-tarif__slider-counter--all {
  font-size: 20px;
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-top: 10px;
  padding-left: 20px;
  color: #969696;
  &::before {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 5px;
    content: '/ ';
    color: #969696;
  }
}
