// begin about-sec
.about-sec
  .container
    .about-sec__item
      h2.about-sec__title О компании
      p Компания ООО «ИНТЭК-Брокер» создана в 2015 году профессионалами с успешным опытом в финансовой, биржевой и нефтегазовой отраслях. Сегодня компания является надежным брокером, предоставляющим услуги на биржевом и внебиржевом российском рынке нефтепродуктов.
      p
        strong Основное направление деятельности —
        =' '
        |торговля темными и светлыми нефтепродуктами, нефтехимией, сжиженными углеводородами и маслами на крупнооптовом, мелкооптовом и розничном рынках.
      .btn.btn-lg.about-sec__btn
        a(href="#") Подробнее
// end about-sec