// begin boss-sec
.boss-sec
  .container
    .boss-sec__item.boss-sec__item--text
      p
        strong Главной целью
        =' '
        |работы нашей компании является создание хорошо отлаженной, оптимизированной системы доставки топлива оптом с минимальными затратами материальных ресурсов, времени, без качественных и количественных  потерь. Мы всегда четко следуем этим правилам, а потому наша компания заслужила уважение и доверие своих клиентов. Мы ценим каждого клиента и стремимся предложить ему максимально привлекательные условия.
      p
        strong Главными принципами
        =' '
        |нашей компании является профессиональный подход к решению возникающих вопросов, тесный контакт с партнерскими организациями и открытая позиция на товарном рынке.
    .boss-sec__item.boss-sec__item--ava
      img(src="assets/img/boss-ava.png" alt="avatar")
    .boss-sec__item.boss-sec__item--info
      h3.boss-sec__name
        |Амелин
        br
        |Антон Николаевич 
      span.boss-sec__position
        |Генеральный директор
        br
        |ООО «ИНТЭК-Брокер»
// end boss-sec