// begin about-sec
.company-activity
  .container
    .company-activity__item
      h2.company-activity__title Основная деятельность
      p
        strong Основное направление деятельности — торговля темными и светлыми нефтепродуктами, нефтехимией, сжиженными углеводородами и маслами  на крупнооптовом, мелкооптовом и розничном рынках.

      p ИНТЭК-Брокер  - динамичная компания, уверенно развивающаяся на Российском рынке оптовых поставок, нефтепродуктов, индустриальных и автомобильных масел, сжиженных углеводородов и нефтехимии. Компания успешно сотрудничает с крупными российскими производителями и поставщиками нефтепродуктов. Мы комплексно подходим к решению вопросов оптовых поставок для своих потребителей, стараясь учитывать их пожелания, возможности и взаимные интересы во всех сферах сотрудничества. Компания постоянно укрепляет свои позиции на Российском рынке путем профессионального решения поставленных задач, гибкой ценовой политики, правильно выстроенной логистике и стремления к взаимовыгодному сотрудничеству в развитии бизнеса.
// end company-activity
