// begin index-top
.index-top
  // begin index-top__slider
  .index-top__slider#index-top__slider
    // begin slide-01
    .index-top__slide
      .index-top__pic
        img(src="assets/img/index-top__slider/slide-01.jpg" alt="slide")
      .container
        .index-top__capture
          h2.index-top__title Брокерское обслуживание
          p Компания «ИНТЭК-Брокер» является аккредитованным брокером и участником торгов на товарных биржах Российской Федерации и оказывает брокерские услуги на товарном рынке РФ, обслуживает клиентские биржевые операции на топливно-энергетическом рынке.
          .btn.btn-popup(data-popup='popup-slide-01')
            button подробнее
    // end slide-01

    // begin slide-02
    .index-top__slide
      .index-top__pic
        img(src="assets/img/index-top__slider/slide-02.jpg" alt="slide")
      .container
        .index-top__capture
          h2.index-top__title Поставка нефтепродуктов
          ul.index-top__list
            li.index-top__item Поставка ж/д транспортом
            li.index-top__item Балансовые пункты
            li.index-top__item Самовывоз автотранспортом
            li.index-top__item Трубопроводный транспорт
            li.index-top__item Оператор товарных поставок
          .btn.btn-popup(data-popup='popup-slide-02')
            button подробнее
    // end slide-02

    // begin slide-03
    .index-top__slide
      .index-top__pic
        img(src="assets/img/index-top__slider/slide-03.jpg" alt="slide")
      .container
        .index-top__capture
          h2.index-top__title Транспортировка продукции
          p Компания оказывает услуги транспортировки любых видов нефтепродуктов по Железной дороге, с возможностью использования паромной ЖД-переправы «Порт Кавказ» - «Порт Керчь», системе магистральных нефтепродуктопроводов ПАО «Транснефть», бензовозами с нефтебаз до точки слива Заказчика.
    // end slide-03

    // begin slide-04
    .index-top__slide
      .index-top__pic
        img(src="assets/img/index-top__slider/slide-04.jpg" alt="slide")
      .container
        .index-top__capture
          h2.index-top__title Внебиржевой рынок
          p Помимо брокерского обслуживания, ООО «ИНТЭК-Брокер» осуществляет поставку темных и светлых нефтепродуктов, нефтехимии, СУГ, масел по прямым договорам купли-продажи.
          .btn.btn-popup(data-popup='popup-slide-04')
            button подробнее
    // end slide-04

    // begin slide-05
    .index-top__slide
      .index-top__pic
        img(src="assets/img/index-top__slider/slide-05.jpg" alt="slide")
      .container
        .index-top__capture
          h2.index-top__title Аналитика рынка
          p Компания ООО «ИНТЭК-Брокер» тщательно отслеживает тенденции на крупно- и мелкооптовом рынках нефтепродуктов и СУГ, выполняет исследования биржевых и внебиржевых рынков и предоставляет аналитику своим Клиентам.
    // end slide-05

    // begin slide-06
    .index-top__slide
      .index-top__pic
        img(src="assets/img/index-top__slider/slide-06.jpg" alt="slide")
      .container
        .index-top__capture
          h2.index-top__title Товарное финансирование
          ul.index-top__list
            li.index-top__item Принцип «одного окна»
            li.index-top__item Разработка индивидуальных схем финансирования
            li.index-top__item Минимальный пакет документов
            li.index-top__item Cовершение сделок без отвлечения оборотных средств
          .btn.btn-popup(data-popup='popup-slide-06')
            button подробнее
    // end slide-06
  // end index-top__slider
  // begin index-top__slider-nav
  .index-top__slider-nav#index-top__slider-nav
    .index-top__slider-nav-item
      +svg('slide-01')
      span.text Брокерское обслуживание
    .index-top__slider-nav-item
      +svg('slide-02')
      span.text Поставка нефтепродуктов
    .index-top__slider-nav-item
      +svg('slide-03')
      span.text Транспортировка продукции
    .index-top__slider-nav-item
      +svg('slide-04')
      span.text Внебиржевой рынок
    .index-top__slider-nav-item
      +svg('slide-05')
      span.text Аналитика рынка
    .index-top__slider-nav-item
      +svg('slide-06')
      span.text Товарное финансирование
  // end index-top__slider-nav
// end index-top