// begin index-form-section
.index-form-section
  .index-form-section__inn
    .container
      h2.index-form-section__title Есть вопрос?
      .index-form
        .index-form__row
          input(name="" placeholder="ФИО контактного лица*" required).index-form__input
          input(name="" placeholder="Название компании*" required).index-form__input
          input(name="" placeholder="ИНН и/или ОГРН*" required).index-form__input
          input(name="" placeholder="Ваш email*" required).index-form__input
          input(name="" placeholder="Контактный телефон*" required).index-form__input
          input(name="" placeholder="Тема запроса").index-form__input
        .index-form__row
          textarea(placeholder="Какой вид нефтепродукта или нефтехимии Вас интересует, в каких объемах?").index-form__textarea
        .index-form__row.form__row
          label.checkbox
            input(type='checkbox').checkbox__input
            span.checkbox__text
              | Подтверждаю согласие с
              =" "
              a(href="#") политикой обработки персональных данных
        .index-form__row
          .btn.btn-lg
            input(type="submit" value="отправить")




// end index-form-section