mixin service-deal__slide(numb, text)
  .service-deal__slide
    span.service-deal__number #{numb}
    p #{text}

// begin service-deal
.service-deal
  .container
    .service-deal__text
      p
        strong Брокерское обслуживание на биржах АО «СПбМТСБ» и АО «Биржа «Санкт-Петербург» — это возможность приобретать биржевой товар у производителей по прямым ценам поставщиков с минимальными затратами.
      p Компания обеспечивает простое и удобное приобретение нефтепродуктов, нефтехимии, сжиженных углеводородов, нефтехимии, а также их продажу через товарно-сырьевые биржи путем поиска наиболее выгодных предложений по всей России, оказывая услуги по выполнению всех биржевых процедур, контролю расчетов, отгрузке и доставке товара. Брокерское обслуживание клиентов осуществляется в рамках единого договора присоединения к регламенту компании «ИНТЭК-Брокер».
    h2.service-deal__title Как заключить сделку?

    // begin service-deal__slider
    .service-deal__slider#service-deal__slider
      +service-deal__slide('01', 'Клиент направляет документы для заключения брокерского договора')
      +service-deal__slide('02', 'Открываем клиенты брокерский счет и направляем клиенту пакет документов')
      +service-deal__slide('03', 'Клиент направляет документы для заключения брокерского договора')
      +service-deal__slide('04', 'Открываем клиенты брокерский счет и направляем клиенту пакет документов')
      +service-deal__slide('05', 'Клиент направляет документы для заключения брокерского договора')
      +service-deal__slide('06', 'Открываем клиенты брокерский счет и направляем клиенту пакет документов')
      +service-deal__slide('07', 'Клиент направляет документы для заключения брокерского договора')
      +service-deal__slide('08', 'Открываем клиенты брокерский счет и направляем клиенту пакет документов')
    // end service-deal__slider

// end service-deal