// begin service-price
.service-price
  .container
    h2.service-price__title Тарифы
    .service-price__list
      // begin service-price__item
      .service-price__item
        h3.service-price__tarif 100 р/тн
        ul.service-price__ul
          li Товарное финансирование от 12%
          li Товарное финансирование
          li Финансирование от 12%
        .btn.service-price__btn
          button Выбрать
      // end service-price__item
      // begin service-price__item
      .service-price__item
        h3.service-price__tarif 150 р/тн
        ul.service-price__ul
          li Товарное финансирование от 12%
          li Товарное финансирование
          li Финансирование от 12%
          li Товарное финансирование от 12%
          li Товарное финансирование
        .btn.service-price__btn
          button Выбрать
      // end service-price__item
      // begin service-price__item
      .service-price__item
        h3.service-price__tarif 200 р/тн
        ul.service-price__ul
          li Товарное финансирование от 12%
          li Товарное финансирование
          li Финансирование от 12%
          li Товарное финансирование от 12%
          li Товарное финансирование
          li Финансирование от 12%
          li Товарное финансирование от 12%
        .btn.service-price__btn
          button Выбрать
      // end service-price__item
    .service-price__footer
      a(href="#").service-price__download
        +svg('download')
        span Скачать
// end service-price