// begin why-we
.why-we
  .container
    .why-we__item.why-we__item--left
      h2.why-we__title Почему Интэк-Брокер?
      ul.why-we__list
        li простой и удобный доступ на товарные биржи
        li полный ассортимент топливной продукции и нефтехимии
        li открытое ценообразование
        li организация закупки/продажи топлива и нефтехимии «под ключ»
        li товарное финансирование, позволяющее заказчику увеличить товарооборот
      p
        strong
          |Кроме того, Компания гибкая, идет навстречу Клиенту,
          br
          =' '
          =' '
          |всегда стремится идти в ногу со временем и тенденциями рынка.
      .btn.why-we__btn
        a(href="#") посмотреть все

    .why-we__item.why-we__item--right
      // begin why-we-slider
      .why-we-slider#why-we-slider
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-00.jpg')
           img(src='assets/img/why-we/why-we-00-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-00.jpg')
           img(src='assets/img/why-we/why-we-00-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-00.jpg')
           img(src='assets/img/why-we/why-we-00-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-01.jpg')
           img(src='assets/img/why-we/why-we-01-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-02.jpg')
           img(src='assets/img/why-we/why-we-02-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-03.jpg')
           img(src='assets/img/why-we/why-we-03-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-00.jpg')
           img(src='assets/img/why-we/why-we-00-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-00.jpg')
           img(src='assets/img/why-we/why-we-00-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-00.jpg')
           img(src='assets/img/why-we/why-we-00-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-01.jpg')
           img(src='assets/img/why-we/why-we-01-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-02.jpg')
           img(src='assets/img/why-we/why-we-02-thumb.jpg' alt='why we picture')
       .why-we-slider__item
         a(data-fancybox='gallery', href='assets/img/why-we/why-we-03.jpg')
           img(src='assets/img/why-we/why-we-03-thumb.jpg' alt='why we picture')
      // end why-we-slider
// end why-we