//begin breadcrumbs
section.breadcrumbs
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") #{breadCrumbs1}
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") #{breadCrumbs2}
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") #{breadCrumbs3}
//end breadcrumbs