//begin header-contacts
.header__contacts
  a(href="tel:78129826852").header__phone
    +svg('phone')
    span.header__phone-text +7 (812) 982 68 52
  span.header__city Санкт-Петербург
//end header-contacts