//begin menu
nav.header__menu#header__menu
  ul.header__menu-list
    li.header__menu-item
      a(href="#").header__menu-link Услуги компании
    li.header__menu-item
      a(href="#").header__menu-link.active О компании
    li.header__menu-item
      a(href="#").header__menu-link Документы
    li.header__menu-item
      a(href="#").header__menu-link Продукция
    li.header__menu-item
      a(href="#").header__menu-link Новости
    li.header__menu-item
      a(href="#").header__menu-link Вакансии
    li.header__menu-item
      a(href="#").header__menu-link Контакты
//end menu