.popup__layer

//begin #popup-slide-01
.popup#popup-slide-01
  .popup__close
    +svg('close')
  p Брокерское обслуживание на биржах АО «СПбМТСБ» и АО «Биржа «Санкт-Петербург» — это возможность приобретать биржевой товар у производителей по прямым ценам поставщиков с минимальными затратами.
  p Компания обеспечивает простое и удобное приобретение нефтепродуктов, нефтехимии, сжиженных углеводородов, нефтехимии, а также их продажу через товарно-сырьевые биржи путем поиска наиболее выгодных предложений по всей России, оказывая услуги по выполнению всех биржевых процедур, контролю расчетов, отгрузке и доставке товара.
  p Брокерское обслуживание клиентов осуществляется в рамках единого договора присоединения к регламенту компании «ИНТЭК-Брокер».
//end #popup-slide-01

//begin #popup-slide-02
.popup#popup-slide-02
  .popup__close
    +svg('close')
  p
    strong Поставка Выбранной продукции в любой регион.
    =" "
    |Компания успешно сотрудничает с крупными российскими производителями нефтепродуктов, ведущими железнодорожными перевозчиками, осуществляет транспортировку и хранение нефтепродуктов с использованием инфраструктуры ПАО «ТРАНСНЕФТЬ», оказывает услуги доставки топлива автоцистернами разной кубатуры с нефтебаз хранения до точки слива Заказчика.
  p
    strong Гарантия качественной и своевременной поставки.
    =" "
    |Тесные партнерские отношения с ведущими российскими производителями нефтепродуктов, которые поддерживает и развивает наша компания, позволяют нам осуществлять поставки товара по приемлемым ценам и в кратчайшие сроки.
  p
    strong Индивидуальный подход к каждому клиенту.
    =" "
    |Мы комплексно подходим к решению вопросов оптовых поставок для своих потребителей, стараясь учитывать их пожелания, возможности и взаимные интересы во всех сферах сотрудничества.
  p
    strong Прозрачное ценообразование.
    =" "
    |Надежные контакты, качественный менеджмент и ясная стратегия обеспечивают конкурентоспособные цены, контролируемые сроки отгрузки и реальные объемы поставок.
//end #popup-slide-02

//begin #popup-slide-04
.popup#popup-slide-04
  .popup__close
    +svg('close')
  p Крупнооптовые поставки осуществляются железнодорожным, водным и трубным транспортом с нефтеперерабатывающих заводов, расположенных на территории стран таможенного союза. Мелкооптовые поставки осуществляются на условиях перекладки, самовывоза или с доставкой собственными или арендованными автоцистернами с ЛПДС и нефтебаз России, прошедших жесткий отбор и контроль качества по единому стандарту ООО «ИНТЭК-Брокер». Вся продукция, приобретаемая у нас, соответствует требованиям современного европейского стандарта качества EN 590:2004.
//end #popup-slide-04

//begin #popup-slide-06
.popup#popup-slide-06
  .popup__close
    +svg('close')
  p Товарное финансирование – это финансирование торговых операций клиентов на бирже АО «СПБМТСБ» за счет средств ООО «ИНТЭК-Брокер» под обеспечение приобретаемых нефтепродуктов. Ключевая задача товарного финансирования — предоставление клиенту возможности существенно нарастить объем торговых операций.
  ul
    li Принцип «одного окна» - торговые операции, получение финансирования, логистика.
    li Разработка и применение схем финансирования в соответствии с индивидуальными потребностями клиента.
    li Для получения финансирования необходим минимальный пакет документов: анкета клиента, бухгалтерские балансы и отчеты о прибылях и убытках за последние 4 отчетные даты.
    li Оперативное принятие решения о предоставлении финансирования.
    li Возможность совершения сделок на биржевом рынке без отвлечения оборотных средств: клиентам с хорошей кредитной историей не требуется депонирование денежных средств.
//end #popup-slide-06

//begin #popup-news-01
.popup#popup-news-01
  .popup__close
    +svg('close')
  .popup__date 09.05.2019
  h2.popup__title Интэк-брокер - новость о компании
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
  ul
    li Крупнооптовый трейдер
    li Постоянные поставки
    li 100 топлива
  h3.popup__subtitle Подзаголовок
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
  .popup__pagination
    .popup__pagination-btn
      +svg('arr-l')
      span предыдущая новость
    .popup__pagination-btn
      span следующая новость
      +svg('arr-r')
//end #popup-news-01
