*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-light;
  font-size: 17px;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
  margin: 0 0 10px 0;
}

h1 {
  font-family: $font-medium;
  font-size: 40px;
  line-height: 56px;
  margin-bottom: 20px;
}

h2 {
  font-family: $font-extrabold;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 27px;
}

h3 {
  font-family: $font-semibold;
  font-size: 20px;
  line-height: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

p {
  font-family: $font-light;
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 27px;
  strong {
    font-family: $font-semibold;
  }
}

p:last-child {
  margin-bottom: 5px;
}

.small-text {
  font-size: 15px;
  line-height: 26px;
}

a {
  transition: color .5s;
  color: $highlight;
  &:hover {
    text-decoration: none;
    color: $highlight-hov;
  }
}

ol,
ul {
  li {
    padding: 3px 0;
  }
}

ul {
  margin: 5px 0 0 0;
  padding-left: 20px;
  li {
    font-size: 15px;
    padding-left: 20px;
    list-style-image: url('../img/ul.svg');
    &:last-child {
      padding-bottom: 0;
    }
  }
}

//кастомные пункты списка с цифрами
ol {
  font-size: 15px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include counter(li);

  li {
    display: flex;
  }

  li::before {
    margin-right: 20px;
    color: $highlight;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  font-size: 15px;
  padding: 20px 30px;
  color: #969696;
  border: 1px solid #e6e6e6;
  border-radius: 3px !important;
  outline: none;
  background-color: #fff;
  &::placeholder {
    @include placeholder-color($text);
  }
}

textarea {
  font-size: 15px;
  padding: 20px 30px;
  resize: none;
  color: #969696;
  border: 1px solid #e6e6e6;
  border-radius: 3px !important;
  outline: none;
  background-color: #fff;
}

input.error,
textarea.error {
  border-color: #ed1b24 !important;
  background: #fbd1d3 !important;
}

svg {
  display: block;
  overflow: visible;
}

//изменяем цвет выделения текста мышью
::selection {
  color: $text;
  background-color: $brand;
  text-shadow: none;
}

.main-wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  &.no-scroll {
    overflow: hidden;
  }
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 15px;

  @include max(425) {
    padding: 20px 10px;
  }
}

.btn,
.btn-light {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  a,
  button,
  input {
    font-family: $font-black;
    font-size: 15px;
    line-height: 1;
    display: block;
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    text-transform: lowercase;
    border: none;
    box-shadow: none;
  }
}

.btn {
  border: none;
  background-image: linear-gradient(to right, #faa61a 0%, #ffcb05 100%);
  &:hover {
    a,
    button,
    input {
      background-color: $highlight;
    }
  }
  a,
  button,
  input {
    padding: 22px 82px;
    color: #fff;
    background-color: transparent;
  }
}

.btn-light {
  border: 2px solid #faa61a;
  background-color: $highlight;
  &:hover {
    a,
    button,
    input {
      color: #fff;
      background-color: transparent;
    }
  }
  a,
  button,
  input {
    padding: 20px 80px;
    color: $highlight;
    background-color: #fff;
  }
}

.btn-dark {
  background-image: linear-gradient(to right, #1e1e1e 0%, #323232 100%);
  &:hover {
    a,
    button,
    input {
      background-color: #0f0f0f;
    }
  }
}

.btn-lg {
  a,
  button,
  input {
    padding-right: 110px;
    padding-left: 110px;

    @include max(425) {
      padding-right: 80px;
      padding-left: 80px;
    }
  }
}
