extends ../_template

block variables
  - var title           = 'Интек Брокер'
  - var pageHeaderTitle = 'Интек Брокер'
  - var description     = 'Интек Брокер'
  - var ogtitle         = 'Интек Брокер'
  - var ogimage         = 'assets/img/social.jpg'
  - var breadCrumbs1    = 'Интек-Брокер'
  - var breadCrumbs2    = 'О компании'
  - var breadCrumbs3    = 'Новости'

block content
  .main-wrap.index
    include ../sections/header

    //begin content
    section.main
      include ../sections/index-top

    //end content

    include ../sections/footer
    include ../elements/popup