extends ../_template

mixin reviews-slider__item(logo)
  .reviews-slider__item
    .reviews-slider__header
      h3.reviews-slider__title Транспортировка продукции
    .reviews-slider__pic(style="background-image:url('assets/img/reviews-slider/slide-01.jpg')")
      .reviews-slider__logo
        img(src="assets/img/partners/partner-" + logo + ".jpg" alt="img")
    .reviews-slider__body
      h3.reviews-slider__name Иван Андреев,
      span.reviews-slider__position владелец топливной фирмы
      blockquote.reviews-slider__blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
      a(href="#").reviews-slider__learn-more
        +svg('message')
        span читать отзыв

block variables
  - var title           = 'Отзывы | Интек Брокер'
  - var pageHeaderTitle = 'Отзывы | Интек Брокер'
  - var description     = 'Отзывы | Интек Брокер'
  - var ogtitle         = 'Интек Брокер'
  - var ogimage         = 'assets/img/social.jpg'

block content
  .main-wrap.reviews
    include ../sections/header

    //begin content
    .main
      //begin breadcrumbs
      .breadcrumbs
        ul.breadcrumbs__list
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Интек-Брокер
          li.breadcrumbs__item
            a.breadcrumbs__link(href="#") Отзывы
      //end breadcrumbs

      .container
        h1.reviews__title Отзывы
        p В данной рубрике Вы можете узнать, что думают клиенты компании о сотрудничестве с нами. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.

      // begin reviews-slider
      .reviews-slider
        .container
          .reviews-slider__list#reviews-slider__list
            +reviews-slider__item('11')
            +reviews-slider__item('01')
            +reviews-slider__item('02')
            +reviews-slider__item('03')
            +reviews-slider__item('04')
            +reviews-slider__item('05')
            +reviews-slider__item('06')
            +reviews-slider__item('07')
            +reviews-slider__item('08')
            +reviews-slider__item('09')
      // end reviews-slider
      // begin vacancies-form-section
      .vacancies-form-section
        .vacancies-form-section__inn
          .container
            h2.vacancies-form-section__title Хотите оставить отзыв?
            p Если Вы хотите оставить отзыв о нашей работе, заполните форму ниже
            .vacancies-form
              .vacancies-form__item.vacancies-form__item--left
                input(placeholder="ФИО").vacancies-form__input
                input(placeholder="Контактные данные*" required).vacancies-form__input

              .vacancies-form__item.vacancies-form__item--right
                textarea(placeholder="Комментарий*" required).vacancies-form__textarea
              .vacancies-form__row.form__row
                label.checkbox
                  input(type='checkbox').checkbox__input
                  span.checkbox__text Я даю согласие на обработку персональных данных*
              .vacancies-form__row
                .btn.btn-lg
                  input(type="submit" value="отправить")
      // end vacancies-form-section

    //end content

    include ../sections/footer
    include ../elements/popup