.inner-main {
  padding-top: 240px;
}

.half-section-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.half-section {
  width: 50%;

  @include max(760) {
    width: 100%;
  }

  &:first-child {
    padding-right: 17px;

    @include max(760) {
      padding-right: 0;
      padding-bottom: 25px;
    }
  }
  &:last-child {
    padding-left: 17px;

    @include max(760) {
      padding-left: 0;
    }
  }
}

.table-wrap {
  overflow: auto;
  width: 100%;
}

.table {
  min-width: 600px;
  border-top: 1px solid #e6e6e6;
}

.table__row {
  font-size: 15px;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
}

.table__row--header {
  font-family: $font-extrabold;
  font-size: 18px;
  padding: 17px 0;
}

.table__item {
  width: 50%;
  padding-right: 15px;
  &:last-child {
    flex: none;
    width: 100px;
    padding-right: 0;
    padding-left: 15px;
  }
}

.table__download {
  font-family: $font-black;
  font-size: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: lowercase;
  svg {
    flex: none;
    fill: $highlight;
    width: 13px;
    height: 14px;
    margin-right: 10px;
  }
}

.picture-section {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;

  @include max(760) {
    flex-wrap: wrap;
  }
}

.picture-section__item {
  position: relative;
  width: 48.5%;

  @include max(760) {
    width: 100%;
    margin-bottom: 25px;
  }

  img {
    display: block;
    width: 100%;
  }
}

.picture-section__signature {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  padding: 25px 30px 5px 0;
  background-color: #fff;

  @include max(1020) {
    padding: 15px 15px 5px 0;
  }

  @include max(900) {
    width: 70%;
  }

  @include max(375) {
    padding: 10px 10px 0 0;
  }

  span {
    font-size: 15px;
    line-height: 25px;
    display: block;

    @include max(375) {
      font-size: 13px;
    }
  }
}

.btn-container {
  .btn,
  .btn-light {
    margin-right: 30px;
  }
}

.banner {
  padding: 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.banner__title {
  font-family: $font-extrabold;
  font-size: 25px;
  line-height: 35px;
  max-width: 250px;
  margin-bottom: 50px;
  color: #fff;
}

.quintet {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quintet__item {
  flex: none;
  width: 18%;
  margin-bottom: 25px;

  @include max(1020) {
    width: 30%;
    &:nth-child(n + 4) {
      width: 48%;
    }
  }

  @include max(760) {
    width: 48%;
    &:last-child {
      width: 100%;
    }
  }

  @include max(500) {
    width: 100% !important;
  }

  p {
    font-size: 15px;
    line-height: 26px;
  }
}

.quintet__item--pic {
  display: flex;
  align-items: flex-end;
  padding: 100px 15px 15px 15px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.quintet__title {
  font-size: 17px;
  line-height: 23px;
  margin: 0;
  color: #fff;
}

.form {
  .btn {
    a,
    button,
    input {
      padding-right: 110px;
      padding-left: 110px;
    }
  }
}

.form__title {
  font-family: $font-medium;
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 80px;
}

.form__row-input {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__input,
.form .custom-select + span {
  font-size: 15px;
  flex: none;
  width: 30%;
  margin-bottom: 25px;
  padding: 20px 30px;
  color: #969696;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  outline: none;
  background-color: #fff;

  @include placeholder-color(#969696);

  @include max(900) {
    width: 32%;
  }

  @include max(760) {
    width: 100%;
  }
}

.form .custom-select + span .ui-selectmenu-icon {
  background-image: url('../img/select-arrow.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.custom-select-list {
  padding: 20px 0 10px 30px !important;
  background-color: #f0f0f0;
  li {
    padding: 0;
  }
  .ui-menu-item-wrapper {
    margin: 0;
    padding-bottom: 10px;
    transition: color .5s;
    color: $text;
  }
  .ui-state-active {
    color: $highlight;
    border: none;
    background-color: transparent;
  }
}

.radio__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.radio {
  margin-bottom: 10px;
}

.radio__input {
  position: absolute;
  z-index: -1;
  margin: 10px 0 0 7px;
  opacity: 0;
}

.radio__text {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
  &::before {
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
    border: 1px solid #e6e6e6;
    border-radius: 50%;
    background: #fff;
  }
  &::after {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 10px;
    height: 10px;
    content: '';
    transition: .2s;
    opacity: 0;
    border-radius: 50%;
    background-color: $highlight;
    background-image: linear-gradient(to right, #faa61a 0%, #ffcb05 100%);
  }
}

.radio__input:checked + .radio__text:after {
  opacity: 1;
}

.textarea {
  font-size: 15px;
  width: 100%;
  height: 160px;
  margin-bottom: 25px;
  padding: 20px 30px;
  color: #969696;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  outline: none;
  background-color: #fff;

  @include placeholder-color(#969696);
}

.checkbox {
  display: inline-block;
  margin-bottom: 60px;
}

.checkbox__input {
  position: absolute;
  z-index: -1;
  margin: 10px 0 0 20px;
  opacity: 0;
}

.checkbox__text {
  font-size: 15px;
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
  &::before,
  &::after {
    position: absolute;
    top: -2px;
    left: 0;
    width: 20px;
    height: 20px;
    content: '';
  }
  &::before {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background-color: #fff;
  }
  &::after {
    transition: opacity .2s;
    opacity: 0;
    background-image: url('../img/ul.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.checkbox__input:checked + .checkbox__text:after {
  opacity: 1;
}
