.production {
  padding-top: 240px;
  background-image: url('../img/bg-production.jpg');
  background-repeat: no-repeat;
  background-position: 77% 0;

  @include max(1024) {
    padding-top: 150px;
  }

  .main {
    padding-bottom: 180px;

    @include max(1024) {
      padding-bottom: 100px;
    }
  }
}

.product-item {
  margin-bottom: 50px;
  p {
    font-size: 15px;
    line-height: 24px;
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  ol {
    margin-bottom: 25px;
    li {
      line-height: 20px;
      &::before {
        margin-right: 15px;
      }
    }
  }
  ul {
    margin-bottom: 15px;
    li {
      font-size: 13px;
      line-height: 18px;
      padding-left: 12px;
    }
  }
}

.product-item__pic {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  margin-bottom: 45px;
  border-radius: 0 150px 150px 0;

  img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.product-item__pic-title {
  font-family: $font-extrabold;
  font-size: 25px;
  line-height: 35px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 210px;
  margin: 0;
  color: #fff;
}

.product-item__subtitle {
  font-family: $font-semibold;
  font-size: 15px;
  margin-bottom: 25px;
}

//begin product-tab
.product-tab {
  width: 100%;
  max-width: 1650px;
  margin: 0 auto 50px;
}

.product-tab__item {
  overflow: hidden;
}

.product-tab__header {
  cursor: pointer;
  &.active {
    .tab-btn {
      transform: rotate(360deg);
      &::after {
        opacity: 0;
      }
    }
  }
}

.product-tab__header-inn {
  display: flex;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 24px 0 20px 0;
}

.tab-btn {
  position: relative;
  display: flex;
  flex: none;
  width: 27px;
  height: 27px;
  margin-right: 22px;
  transition: transform .5s;
  border: 3px solid $highlight;
  border-radius: 50%;

  @include max(530) {
    margin-right: 10px;
  }

  &::before,
  &::after {
    position: absolute;
    width: 11px;
    height: 3px;
    content: '';
    transition: opacity .5s;
    opacity: 1;
    background-color: $highlight;
  }
  &::before {
    top: 9px;
    left: 5px;
  }
  &::after {
    top: 9px;
    left: 5px;
    transform: rotate(90deg);
  }
}

.product-tab__title {
  font-family: $font-extrabold;
  font-size: 18px;
  transition: color .5s;
  color: $highlight;
}

.product-tab__body {
  display: none;
  margin-bottom: 30px;
}

.product-tab__body-row {
  border-top: 1px solid #fff;
  background-color: #f0f0f0;
}

.product-tab__body-row-inn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 50px;

  @include max(500) {
    padding-left: 15px;
  }
}

.product-tab__body-item {
  font-size: 17px;
  padding: 17px 50px 18px 0;

  @include max(500) {
    padding: 17px 15px 18px 0;
  }

  span {
    font-size: 15px;
  }
}

.product-tab__body-item--download {
  display: flex;
  align-items: center;
  text-decoration: none;
  svg {
    fill: $highlight;
    width: 13px;
    height: 14px;
    margin-right: 10px;
  }
  span {
    font-family: $font-black;
    font-size: 15px;
    color: $highlight;
  }
}

//end product-tab

.production-btn {
  margin-top: -20px;
}
